.intro{
	width: 600px;
	margin: 100px auto;
}
body{
	font-family: 'Crimson Pro',serif;
	background-color: palegoldenrod;
	text-align: center;
}
h1, h2{
	font-family: 'Lobster',cursive;
	color: #e22f8f;
	text-align: center;

}
p{
	font-family: 'Monaco', cursive;
	margin: 40px;
}
a {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-decoration: none;
}
a:hover{
	background-color: #45a049;
}